body {
	background-color:#cff;
}

#box {
	display:block;
	width:300px;
	text-align:center;
	margin: 0 auto;
	background-color:#fff;
	padding:15px;
	-moz-border-radius:25px;
	border-radius:25px;
}

#form_login label, #form_login input {
	float:left;
}

#form_login label {
	display:block;
	width:70px;
	text-align:right;
	padding: 0 10px 0 0;
}

#msg {
	font-size:11px;
	color:#f00;
}
